p{
    color: red;
    background-color: bisque;
    font-size: 25px;
}

h3{
    color: blue;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;

}